.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
.dice {
  text-align: center;
  display: inline-block;
}
body {
  background-color: #032f5cd1;
}
h1 {
  margin: 30px;
  /* font-family: 'Lobster', cursive; */
  font-family: 'Satisfy', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #efd805;
}
p,
h2 {
  font-size: 2rem;
  color: #efd805;
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Hind', sans-serif;
}
img {
  width: 80%;
  box-shadow: 3px -3px 5px 3px rgb(243, 243, 243);
}
footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  background-color: #efd805;
  font-family: 'Hind', sans-serif;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 50px;
  cursor: pointer;
}
.shake {
  animation: shake 0.4s;
}
@keyframes shake {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

body {
  background: linear-gradient(#0c0a67, #0c0a67) 0 100% no-repeat;
  background-size: 100% 50%;
}
.editNames {
  display: inline-block;
}
